<!DOCTYPE html>
<html lang="en">
  <head>

    <%# Head %>
    <% include partials/head.ejs %>

  </head>
  <body>

    <%# Navbar %>
    <% include partials/nav.ejs %>

    <%# Container %>
    <div class="container">

      <%# Header ------------------------------------------------------------ %>
      <div class="py-5">
        <h6 class="text-muted">Dashboard <i class="fa fa-cog" aria-hidden="true"></i></h6>
        <h2 class="text-white">Overview</h2>

        <hr class="hr-gray">
      </div>
      <%# ------------------------------------------------------------------- %>



      <%# Graph ------------------------------------------------------------- %>
      <div class="card">
        <canvas id="longChart"></canvas>
      </div>
      <%# ------------------------------------------------------------------- %>




      <%# Spacer ------------------------------------------------------------ %>
      <div class="pb-2">
        <table width="100%">
          <td><hr class="hr-gray"></td>
          <td style="width:1px; padding: 0 10px; white-space: nowrap; color: #aaa;">Control Panel</td>
          <td><hr class="hr-gray"></td>
        </table>​
      </div>
      <%# ------------------------------------------------------------------- %>



      <%# Control panel ----------------------------------------------------- %>
      <div id="entrys">
        <div class="row form-group pb-2">
          <div class="col-6">
            <input class="form-control search" type="text" placeholder="Search">
          </div>
          <div class="col-2">
          </div>
          <div class="col-3 offset-md-1">
            <button type="button" class="btn btn-outline-primary" onclick="resetFilter()">Reset</button>
            <button type="button" class="btn btn-outline-success" onclick="filterEntrys(0)">0</button>
            <button type="button" class="btn btn-outline-warning" onclick="filterEntrys(1)">1</button>
            <button type="button" class="btn btn-outline-danger" onclick="filterEntrys(7)">7</button>
          </div>
        </div>
      <%# ------------------------------------------------------------------- %>



      <%# Spacer ------------------------------------------------------------ %>
      <hr class="hr-gray pb-3">
      <%# ------------------------------------------------------------------- %>



      <%# Table ------------------------------------------------------------- %>
      <div class="card bg-inverse">
        <table id="myTable" class="table table-inverse table-hover">
          <thead>
            <th>JOB_NAME</th>
            <th>JOB_START</th>
            <th>JOB_END</th>
            <th>STATE</th>
            <th>STATE_DESCRIPTION</th>
            <th>RECID</th>
            <th>JOB_ABORT</th>

          </thead>
          <tbody id="tbodyid" class="list">

            <% entrys.forEach(function(item){ %>
              <tr>
                <td><%= item.JOB_NAME %></td>
                <td><%= item.JOB_START %></td>
                <td><%= item.JOB_END %></td>
                <td><%= item.STATE %></td>
                <td><%= item.STATE_DESCRIPTION %></td>
                <td><%= item.RECID %></td>
                <td><%= item.JOB_ABORT %></td>
              </tr>
            <% }); %>

            <ul class="pagination">
          </tbody>
        </table>
      </div>
    </div>
    <%# ------------------------------------------------------------------- %>

    </div>


    <%# Bottom %>
    <% include partials/bottom.ejs %>
  </body>
</html>
